langchain-core
langchain-text-splitters
langchain-community
langchain-ollama
faiss-cpu
ollama
lshw
numpy
pandas
langgraph
langchain-tools
fastapi
uvicorn
pydantic
motor
python-dotenv
streamlit
python-multipart
transformers
torch
librosa
sentencepiece